*.DS_Store
Doxyfile
html/
build/*
cli_build/*
build-clang/*
build-gcc/*
Makefile
manual
*.swp
bii/*
.idea/
.ycm_extra_conf.pyc
blog_release_note.md
github_release_note.md
.make-detach-steps.bash
*.swo
*.log
