[submodule "cmake/modules"]
	path = cmake/modules
	url = git@github.com:BoostCMake/cmake_modules.git
[submodule "libs/multiprecision"]
	path = libs/multiprecision
	url = git@github.com:nilfoundation/crypto3-multiprecision.git
[submodule "libs/algebra"]
	path = libs/algebra
	url = git@github.com:nilfoundation/crypto3-algebra.git
[submodule "libs/zk"]
	path = libs/zk
	url = git@github.com:nilfoundation/crypto3-zk.git
[submodule "libs/blueprint"]
	path = libs/blueprint
	url = git@github.com:nilfoundation/crypto3-blueprint.git
[submodule "libs/block"]
	path = libs/block
	url = git@github.com:nilfoundation/crypto3-block.git
[submodule "libs/hash"]
	path = libs/hash
	url = git@github.com:nilfoundation/crypto3-hash.git
[submodule "libs/random"]
	path = libs/random
	url = git@github.com:nilfoundation/crypto3-random.git
[submodule "libs/mac"]
	path = libs/mac
	url = git@github.com:nilfoundation/crypto3-mac.git
[submodule "libs/modes"]
	path = libs/modes
	url = git@github.com:nilfoundation/crypto3-modes.git
[submodule "libs/stream"]
	path = libs/stream
	url = git@github.com:nilfoundation/crypto3-stream.git
[submodule "libs/codec"]
	path = libs/codec
	url = git@github.com:nilfoundation/crypto3-codec.git
[submodule "libs/marshalling/core"]
	path = libs/marshalling/core
	url = git@github.com:nilfoundation/marshalling.git
[submodule "libs/marshalling/zk"]
	path = libs/marshalling/zk
	url = git@github.com:nilfoundation/crypto3-zk-marshalling.git
[submodule "libs/marshalling/algebra"]
	path = libs/marshalling/algebra
	url = git@github.com:nilfoundation/crypto3-algebra-marshalling.git
[submodule "libs/marshalling/multiprecision"]
	path = libs/marshalling/multiprecision
	url = git@github.com:nilfoundation/crypto3-multiprecision-marshalling.git
[submodule "libs/math"]
	path = libs/math
	url = git@github.com:nilfoundation/crypto3-math.git
[submodule "libs/pubkey"]
	path = libs/pubkey
	url = git@github.com:nilfoundation/crypto3-pubkey.git
[submodule "libs/pkmodes"]
	path = libs/pkmodes
	url = git@github.com:nilfoundation/crypto3-pkmodes.git
[submodule "libs/pkpad"]
	path = libs/pkpad
	url = git@github.com:nilfoundation/crypto3-pkpad.git
[submodule "libs/container"]
	path = libs/container
	url = git@github.com:nilfoundation/crypto3-containers.git
